<div class="section-1">
  <div class="card">
    <p class="p1">Decorative Concrete In Southern Maine</p>
    <hr>
    <p class="p2">A Design For Every Home</p>
  </div>
  <div class="button-holder">
    <app-form-dialog #formDialog></app-form-dialog>
    <button class="btn" (click)="openDialog()">Tell Us About Your Project
      <lucide-icon name="chevron-right" class="icon-chevron" color="white" [size]="20"></lucide-icon>
    </button>
    <button class="btn" (click)="onCall()">
      Call Now
      <lucide-icon name="phone-call" class="icon-call" color="white" [size]="16"></lucide-icon>
    </button>
  </div>
</div>
<div>
  <p style="font-size: 16px; font-weight: 500;text-align: center;">This site is currently under construction.  Please check back soon for full functionality. Thanks!</p>
</div>
